body{
    text-align: center !important;
}

ul li{
    list-style: none;
    font-size: 120%;
}

#answer-table{
    border-collapse: collapse;
    margin: 10px auto;
}

#answer-table td, #answer-table th{
    padding: 1px;
    text-align: right;
    border: 1px solid grey;
}

#answer-table th{
    padding: 4px;
}

#iframe{
    height: 1800px;
    width: 100%;
}

#question-container{
    margin-bottom: 20px;
}

#control-button{
    margin-bottom: 20px;
}

#recomment-result{
    font-size: 100%;
}
